---
import PrimaryButton from '../components/PrimaryButton.astro';
import SecondButton from '../components/SecondButton.astro'
import Layout from '../layouts/Layout.astro';
import LogoHero from '../components/LogoHero.astro';
import Card from '../components/Card.astro';

---

<Layout title="Workit landing page">
	<header class="
		relative 
		mx-auto 
		w-full 
		max-w-[375px] 
		md:max-w-[768px] 
		lg:max-w-[1440px] 
		h-[481px] 
		md:h-[540px] 
		lg:h-[730px]  
		overflow-x-hidden">
		<div class="px-2 md:px-8 lg:px-32 py-5 lg:py-8 ">
			<div class="flex justify-between items-center">
				<LogoHero />
				<SecondButton>
					Apply for access
				</SecondButton>
			</div>
			<div class="mt-[60px] text-center">
				<h1 class="
					text-[50px] 
					md:text-[60px] 
					lg:text-[80px] 
					max-w-[540px] 
					mx-auto 
					font-semibold 
					font-fraunces 
					text-white 
					leading-[50px] 
					md:leading-[60px] 
					lg:leading-[80px] 
					mb-10">
					Data 
				<span class="border-b-4 border-eucaplyptus">tailored</span> to your needs.</h1>
				<PrimaryButton class="mx-auto">
					Learn more
				</PrimaryButton>
			</div>
		</div>
	</header>
	<main class="flex flex-col lg:flex-row mt-36 md:mt-48 lg:mt-56 gap-10 lg:px-[160px]">
		<Card numberArticle={1} title='Actionable insights' content='Optimize your products, improve customer satisfaction and stay ahead of the competition with our product data analytics.'/>
		<Card numberArticle={2} title='Data-driven decisions' content='Make data-driven decisions with our product data analytics. Our AI-generated reports help you unlock insights hidden in your product data.'/>
		<Card numberArticle={3} title='Always affordable' content='Always affordable pricing that scales with your business. Get top-quality product data analytics services without hidden costs or unexpected fees.'/>
		
	</main>
</Layout>
