---
import PrimaryButton from '../components/PrimaryButton.astro';
import SecondButton from '../components/SecondButton.astro'
import Layout from '../layouts/Layout.astro';
import LogoHero from '../components/LogoHero.astro';
import Card from '../components/Card.astro';
import LogoFooter from '../components/LogoFooter.astro';
import Facebook from '../components/icons/Facbook.astro'
import Instagram from '../components/icons/Instagram.astro'
import Twitter from '../components/icons/Twitter.astro'


---

<Layout title="Workit landing page">
	<header class="
		relative 
		mx-auto 
		w-full 
		max-w-[375px] 
		md:max-w-[768px] 
		lg:max-w-[1440px] 
		h-[481px] 
		md:h-[540px] 
		lg:h-[730px]  
		overflow-x-hidden">
		<div class="px-2 md:px-8 lg:px-32 py-5 lg:py-8 ">
			<div class="flex justify-between items-center">
				<LogoHero />
				<SecondButton>
					Apply for access
				</SecondButton>
			</div>
			<div class="mt-[60px] text-center">
				<h1 class="
					text-[50px] 
					md:text-[60px] 
					lg:text-[80px] 
					max-w-[540px] 
					mx-auto 
					font-semibold 
					font-fraunces 
					text-white 
					leading-[50px] 
					md:leading-[60px] 
					lg:leading-[80px] 
					mb-10">
					Data 
				<span class="border-b-4 border-eucaplyptus">tailored</span> to your needs.</h1>
				<PrimaryButton class="mx-auto">
					Learn more
				</PrimaryButton>
			</div>
		</div>
	</header>
	<main class=" mt-36 md:mt-48 lg:mt-56 lg:px-[160px]">
		<div class="flex flex-col lg:flex-row gap-10">
			<Card numberArticle={1} title='Actionable insights' content='Optimize your products, improve customer satisfaction and stay ahead of the competition with our product data analytics.'/>
			<Card numberArticle={2} title='Data-driven decisions' content='Make data-driven decisions with our product data analytics. Our AI-generated reports help you unlock insights hidden in your product data.'/>
			<Card numberArticle={3} title='Always affordable' content='Always affordable pricing that scales with your business. Get top-quality product data analytics services without hidden costs or unexpected fees.'/>
		</div>
		<div class="mx-auto w-[342px] h-[603px] md:w-[689px] md:h-[526px] lg:w-[1112px] lg:h-[647px]  mt-[170px] relative">
			<img class="size-[281px] lg:size-[477px] absolute left-1/2 transform -translate-x-1/2 md:-translate-x-0 md:top-0 md:left-0" src="/image-founder.webp" alt="image founder">
			<div class="w-full md:w-[514px] lg:w-[730px] p-8 md:p-14 lg:p-16 bg-dark-purple text-center md:text-left absolute top-56 md:top-36 lg:top-52 md:right-0">
				<h3 class="font-fraunces font-semibold text-[32px] md:text-[48px] lg:text-[56px] leading-[48px] md:leading-[56px] mb-4 text-white">Be the first to test</h3>
				<p class="font-manrope font-normal text-base lg:text-lg leading-7 lg:leading-8 text-white mb-6">Hi, I'm Louis Graham, the founder of the company. Book a demo call with me to become a beta tester for our app and kickstart your company. Apply for access below and I’ll be in touch to schedule a call.</p>
				<PrimaryButton>
					Apply for access
				</PrimaryButton>
			</div>
		</div>
	</main>
	<footer class="flex flex-col justify-center items-center gap-4 mt-16 mb-16">
		<div>
			<LogoFooter />
		</div>
		<div class="flex gap-7 mt-12 items-center">
			<Facebook class="text-davy-grey hover:text-dark-purple hover:cursor-pointer"/>
			<Twitter class="text-davy-grey hover:text-dark-purple hover:cursor-pointer"/>
			<Instagram class="text-davy-grey hover:text-dark-purple hover:cursor-pointer"/>
		</div>
	</footer>
</Layout>
