---
import LogoFooter from "./icons/LogoFooter.astro";
import Facebook from "./icons/Facbook.astro";
import Twitter from "./icons/Twitter.astro";
import Instagram from "./icons/Instagram.astro";
---

<footer class="flex flex-col justify-center items-center gap-4 mt-16 mb-16">
  <div>
    <LogoFooter />
  </div>
  <div class="flex gap-7 mt-12 items-center">
    <Facebook class="text-davy-grey hover:text-dark-purple hover:cursor-pointer"/>
    <Twitter class="text-davy-grey hover:text-dark-purple hover:cursor-pointer"/>
    <Instagram class="text-davy-grey hover:text-dark-purple hover:cursor-pointer"/>
  </div>
</footer>