---
import "@fontsource-variable/fraunces/full.css";
import "@fontsource-variable/manrope";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative ">
    <slot />

    <img
      class="z-[100000]
	w-[320px]
	md:w-[514px]
	lg:w-[767px]
	h-[184px]
	md:h-[296px]
	lg:h-[441px]
	mx-auto
  top-[380px]
	lg:top-[460px]
	absolute
  left-1/2
  transform 
  -translate-x-1/2"
      src="/image-hero.webp"
      alt="Img moviel"
    />
  </body>
</html>
